.nav {
  font-family: Oswald;
}

.nav-item {
  color: var(--Dark-Blue, #222b2a);
  font-family: Oswald;
  font-size: 55.976px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.799px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

.nav-item-active {
  color: var(--Dark-Blue, #222b2a);
  font-family: Oswald;
  font-size: 55.976px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.799px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

.nav-item:hover {
  color: var(--Pink, #e50072);
}

.nav-item-active {
  color: var(--Pink, #e50072);
}

.menu-item {
  color: var(--Dark-Blue, #222b2a);
  font-family: Oswald;
  font-size: 17.672px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.884px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.menu-item:hover {
  color: var(--Pink, #e50072);
  transition: color 0.5s ease;
}

.langue {
  color: var(--Pink, #e50072);
}

.filter-button {
  font-family: "Oswald", sans-serif;
  color: var(--Dark-Blue, #222b2a);
  font-size: 22px;
  text-transform: uppercase;
  height: 45px;
}

.filter-button:hover {
  color: #c2dee2;
  background-color: var(--Dark-Blue, #222b2a);
  transition: 0.5s ease;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--Dark-Blue, #222b2a);
}

strong {
  color: var(--Dark-Blue, #222b2a);
}

.footer-item {
  color: #c2dee2;
  font-family: Oswald;
  font-size: 17.672px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.884px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.footer-item:hover {
  color: var(--Pink, #e50072);
  transition: color 0.5s ease;
}

.copyright {
  color: var(--background-color, #c2dee2);
  font-family: "Andale Mono";
  font-size: 12.187px;
  padding-left: 15px;
  letter-spacing: -0.609px;
  text-transform: lowercase;
}

h1 {
  color: var(--text-color-default, #272727);
  font-family: Oswald;
  font-size: var(--card-title, 50px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}
