.ligne {
  position: absolute;
  border-right: 1px solid black;
  height: 2130px;
  padding-left: 30px;
  padding-top: 30px;
}

.logo {
  width: 203px;
  height: 92px;
  aspect-ratio: 203/92;
}

ul {
  list-style: none;
}

.rubrique {
  max-width: fit-content;
  display: flex;
  width: 263.422px;
  flex-direction: column;
  align-items: flex-start;
  gap: -20px;
  padding-right: 300px;
  padding-top: 70px;
}

.nav-item {
  transform: rotate(-8.428deg);
}

.nav-item-active {
  transform: rotate(-8.428deg);
}

.header {
  position: absolute;
  padding-top: 50px;
  display: flex;
  list-style: none;
  gap: 25px;
  padding-left: 1200px;
}

.menu-item {
  transform: rotate(-8.43deg);
}

.button-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 14px;
  padding-top: 150px;
  padding-left: 90px;
}

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  border: 1px solid #292929;
  border-radius: 50px;
  background-color: #c2dee2;
}

.filter-section {
  padding-left: 370px;
}

p {
  position: absolute;
  padding-top: 150px;
}
