.ligne {
  position: absolute;
  border-right: 1px solid black;
  height: 2100px;
  padding-left: 30px;
  padding-top: 30px;
}

.logo {
  width: 203px;
  height: 92px;
  aspect-ratio: 203/92;
}

ul {
  list-style: none;
}

.rubrique {
  max-width: fit-content;
  display: flex;
  width: 263.422px;
  flex-direction: column;
  align-items: flex-start;
  gap: -20px;
  padding-right: 300px;
  padding-top: 70px;
}

.nav-item {
  transform: rotate(-8.428deg);
}

.nav-item-active {
  transform: rotate(-8.428deg);
}

.header {
  position: absolute;
  padding-top: 50px;
  display: flex;
  list-style: none;
  gap: 25px;
  padding-left: 1200px;
}

.menu-item {
  transform: rotate(-8.43deg);
}

.button-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 14px;
  padding-top: 150px;
  padding-left: 90px;
}

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  border: 1px solid #292929;
  border-radius: 50px;
  background-color: #c2dee2;
}

.filter-section {
  padding-left: 370px;
}

p {
  position: absolute;
  padding-top: 150px;
}

footer {
  background-color: var(--Dark-Blue, #222b2a);
  height: 190px;
  margin-top: 70px;
}

.logo-footer {
  position: absolute;
  width: 226.915px;
  height: 111.041px;
  aspect-ratio: 47/23;
  padding-top: 10px;
}

.header-footer {
  display: flex;
  gap: 25px;
  padding-left: 1200px;
  padding-top: 30px;
}

.footer-item {
  transform: rotate(-8.43deg);
}

.youtube {
  width: 39px;
  height: 27px;
}

.instagram {
  width: 35px;
  height: 35px;
}

.app {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 1360px;
  padding-top: 70px;
}

.img-info {
  position: absolute;
  width: 1070px;
  height: 430px;
  aspect-ratio: 207/79;
  margin-top: 130px;
}

.card-infos {
  margin-left: 380px;
  height: 447.04px;
  align-self: stretch;
}

.infos-button {
  margin-top: 720px;
}

.button-genre {
  display: flex;
  gap: 20px;
}

.auteur {
  display: flex;
  width: 150px;
  height: 27px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-transform: uppercase;
  padding-top: 45px;
}

.profil {
  width: 27px;
  height: 27px;
  aspect-ratio: 1/1;
}

h5 {
  color: var(--text-color-default, #272727);
  font-size: var(--badge-small, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
